{:kotoba.app/id "cloud.itonami.isic-0144", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihrnlc6hok5t6ewjmhba6i3ht2lyfm4amlze6gb7n5zv56k6hx2za", :kotoba.app/embed-url "ipfs://bafkreihrnlc6hok5t6ewjmhba6i3ht2lyfm4amlze6gb7n5zv56k6hx2za", :published {:archive "https://kotobase.net/ipfs/bafkreihrnlc6hok5t6ewjmhba6i3ht2lyfm4amlze6gb7n5zv56k6hx2za", :size 72382, :put-status 201, :get-status 200, :at "2026-08-15T14:00:16.118Z"}}
